.web-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
}

.web-summary {
    max-width: 600px;
    text-align: center;
}

.race-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    border: 1px solid var(--border);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
}

.race-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
