.leagues-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tab-btns {
  width: 300px;
  height: 50px;
}

.selected-tab-content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
}

.create-league-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 50px;
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.create-league-btns:hover {
  cursor: pointer;
}

.join-league-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 50px;
  border: 1px solid var(--border);
  margin-right: 40%;
  margin-left: 40%;
}

.join-league-btns:hover {
  cursor: pointer;
}

.league-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.join-league-card-btn {
  background-color: green;
  border-radius: 8px;
  width: 65px;
  height: 45px;
  color: black;
  font-size: medium;
}

.join-league-card-btn:hover {
  cursor: pointer;
}
