.prediction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.tab-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.tab-selection-btn {
  width: 150px;
  height: 50px;
}

.tab-selection-btn:hover {
  cursor: pointer;
}

.prediction-btns {
  width: 300px;
  height: 50px;
  font-size: large;
}

.prediction-btns:hover {
  cursor: pointer;
}

.prediction-form-submission {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.prediction-form-input {
  width: 150px;
  height: 25px;
}

.prediction-selections {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 20%;
    justify-content: center;
    font-size: large;
}
